
p {font-family:  monaco, Consolas, "Lucida Console", monospace;}
body {padding: 14px 16px;
      margin-left: 120px;
     background-color: aliceblue;
}

div {display:none;}


        
ul {font-family:"Allerta Stencil";
	font-size: 15pt;
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color:#def3fd;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #fcfcff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: 12pt;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:aliceblue}

.dropdown:hover .dropdown-content {
    display: block;
}

img {border-radius: 0px; border: 3px solid lightskyblue; margin-top: 30px;}

form{margin-left: 15px;
    width: 200%;
}



input[type=text] {
   width: 10%;
   padding: 12px 20px;
   margin: 8px 0;
}
input[type=submit] {
   width: 5%;
   padding: 12px 20px;
   margin: 8px 0;
}
input[type=reset] {
   width: 5%;
   padding: 12px 20px;
   margin: 8px 0;
}
select{
   width: 15%;
   padding: 15px 20px;
   margin: 8px 5px;

 }
textarea{
   width: 30%;
   padding: 12px 20px;
   margin: 8px 0;
}