<html lang="en"> 

  <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <meta name="mobile-web-app-capable" content="yes" /> 
      <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">  
  <title>Sentiment Analysis</title>

	<style>
	/* Your styles go here */
	</style>
	
	<script>
	/* Your JavaScript goes here */
	</script>
  </head>

  <body>


<h1> Welcome to the Sentiment Analysis world! </h1>

<p> 

    <img id="pic1" src="https://www.cure-sa.eu/fileadmin/_processed_/6/6/csm_Sentimentanalyse_c3fbda7133.jpg" title="hello"/>
</p>

<h2> What sentiment information would you like to get? </h2>

<h2> User Guidelines</h2>
<p> If you want to get the general sentiment about a specific keyword, 
  you can use our Overall Sentiment option. This also, allows you to 
compare the general sentiment of two different keywords. 
You can utilize these tools to compare the sentiment of two rivalry keywords
that you would like to analyze. Moreover, it also provides a comparative bar chart 
of the two keywords, which would allow you to better identify the differences among 
the sentiments of two keywords.  </p>

<p> If you prefer to get the sentiment of a specific twitter account regarding 
  various topics, you can utilize our Individual Sentiment option above. Simply click on the 
  Individual Sentiment Analysis above. This option allows the users to put as many keywords as 
  you would like to analyze. Users must put in a specific user account id, for us to analyze the 
  sentiments! It also provides a several informative charts that depicts the historical 
  changes in the length of the tweets, historical changes of the likes and retweets of the tweets
  regarding the selected topics posted by the selected twitter account. 
</p>

<p> 

<img id="pic1" src="https://www.cure-sa.eu/fileadmin/_processed_/6/6/csm_Sentimentanalyse_c3fbda7133.jpg" title="hello"/>
</p>
</form>

  </body>
</html>
