<html lang="en"> 

  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <link rel="stylesheet" href="style.css" type="text/css"/>  
	<title>Sentiment Analysis</title>

	<style>
	/* Your styles go here */
	</style>
	
	<script>
	/* Your JavaScript goes here */
	</script>
  </head>

  <body>

	<!-- Your HTML goes here -->
<!--use <i> for italicizing word, <br> for break, <hr> for a line break, <h1> </h1> for header-->
<h1> Sentiment Analysis </h1>
<form method="post"> 
    <p> Input topics that you would like to search using commas.</p>
    <input type="text" name="keywords" maxlength="400" id="keywords"/>

    <p> Input the twitter username that you would like to analyze? </p>
    @ <input type="text" name="username" maxlength="100" id="username" /> 


</form>

  </body>
</html>
