<html lang="en"> 

  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <link rel="stylesheet" href="style.css" type="text/css"/>  
	<title>Sentiment Analysis</title>

	<style>
	/* Your styles go here */
	</style>
	
	<script>
	/* Your JavaScript goes here */
	</script>
  </head>

  <body>
      <header> 
          <ul id="top"> 	
          <li><a href="homepage.htm">Home</a></li>
          <li class="dropdown">
          <a href="overall.htm" class="dropbtn">Overall Sentiment</a>
          <li class="dropdown">
              <a href="individual.htm" class="dropbtn">Individual Sentiment</a>
         
          </header>
	<!-- Your HTML goes here -->
<!--use <i> for italicizing word, <br> for break, <hr> for a line break, <h1> </h1> for header-->
<h1> Sentiment Analysis </h1>
<form method="post"> 
    <p> What topic would you like to search?</p>
    <input type="text" name="firstkeyword" maxlength="100" id="first"/>

    <p> Would you like to search a second keyword? </p>
    <input type="radio" name="gender" value="yes" id="y"> YES
    <input type="radio" name="gender" value="yes" id="y"> NO

    <p id="p2"> What topic would you like to search as your second keyword?</p>
    <input type="text" name="firstkeyword" maxlength="100" id="second"/> 


</form>

  </body>
</html>
